.formContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}
.container{
  padding: 3rem;
 
}
.d-flex {
    display: flex;
    justify-content: center;
    gap: 29rem;
    align-items: center;
}
#closeIcon{
font-size: 30px;
}
#email,
#phoneNumber,
#fullName,
#whoToSee,
#whoToSeeNo{
  padding: 12px;
  width: 50rem;
}
#purpose,
#visitorType{
  padding: 12px;
  width: 51.5rem;
}
#privateNote{
  width: 49rem;
  padding: 20px;
}
input,
select,
textarea{
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #000;
}

input,
select,
textarea:hover{
  border: 1px solid #f1f1f134;
}



button{
  background-color: #000;
  color: #fff;
  border: #000 1px solid;
  padding: 12px;
  width: 150px;
  border-radius: 10px;
  margin-left: 42rem;
}
.mb{
  margin-bottom: 15px;
}
form:active{
  border: #000;
}
.errors{
  color: red;
}
.visitationForm{
  font-size: 30px;
}
.visitationFormText{
  font-size: 18px;
}
.d-flex{
  display: flex;
  
}
.staffCheckContainer{
  padding: 5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
#phoneNoCheck{
  padding: 12px;
  width: 50rem;
  margin-bottom: 30px;
}
.steps{
  display: flex;
  gap: 35rem;
  align-items: center;
}
